<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
          <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" formControlName="name" type="text" id="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="imagePath">imageURL</label>
            <input class="form-control" formControlName="imagePath" type="text" id="imagePath" #imageRath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <img [src]="imageRath.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea name="" id="description" rows="6" formControlName="description" class="form-control"
                      typeof="text"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" formArrayName="ingrediens">
          <div style="margin-top: 10px" class="row"
               *ngFor="let ingrCtrl of recipeForm.get('ingrediens').controls; let i =index"
               [formGroupName]="i">
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button class="btn-danger btn" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
